* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

.token.comment {
    color: black;
}

.token.selector {
    color: black;
}

.token.punctuation {
    color: black;
}

.token.property {
    color: black;
}

.token.function {
    color: black;
}